{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>face</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="{% static 'shop/appstyle.css' %}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
</head>

<body>


<div class="jumbotron text-center">
  <img class="img-fluid mx-auto d-block" src="{% static 'shop/img/seven_sign.png' %}" alt="no.7">
</div>

<div class="bg">




<!-- Container (About Section) -->
<div class="container mt-5"  id="about">
  <h2 class="text-center ">ABOUT</h2>

    <div class="row">

        <div class="col-lg-6 bg-light">

            <p>Situated in West Belfast, No 7 Coffee was founded in 2021 to bring high quality Barista style coffee, tea and food to serve the local community.  We grew up and lived in the area and have worked hard to bring the best to the west.</p>
            <p>In addition to our full espresso and brew bar menu, we serve fresh made-to-order breakfast and lunch sandwiches, as well as a selection of sides and salads and other good stuff. All sourced from local independent suppliers and to meet all dietary requirements. We also offer catering for small events and delivery and collection of treat boxes, afternoon teas for one or two, picnic hampers and specialty gift boxes.</p>
        </div>
        <div class="col-lg-6 align-middle bg-dark text-light" >
            <img src="{% static 'shop/img/coffeeshop.png' %}" class="img-fluid">
            <p><strong>Opening hours:</strong> mon-sat from 7am to 5pm, sun from 10am to 1pm.</p>
            <p><strong>Address:</strong> 7 Glen Road, Belfast BT11 8AE</p>

        </div>
    </div>
</div>


<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <div class="thumbnail">
       <img src='{% static "shop/img/coffee.jpg" %}' class="img-responsive" alt="coffee">
      <h4>Coffee</h4>
                    <p>Barista coffee, prepared thoughtfully with beans sourced from local suppliers</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
       <img src='{% static "shop/img/sandwich.jpeg" %}' class="img-responsive" alt="sandwiches">
      <h4>Food</h4>
      <p>Freshly prepared sandwiches, wraps and other nice tasty snacks.  Using bread from local artisan bakers!</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
      <img src='{% static "shop/img/bagels.jpeg" %}' class="img-responsive" alt="treats">
      <h4>Treats & things</h4>
      <p>Super treats freshly made every day</p>
      </div>
    </div>
  </div>
</div>


<!--
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Lorem</p>
          <p><strong>15</strong> Ipsum</p>
          <p><strong>5</strong> Dolor</p>
          <p><strong>2</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$19</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pro</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Lorem</p>
          <p><strong>25</strong> Ipsum</p>
          <p><strong>10</strong> Dolor</p>
          <p><strong>5</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$29</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>100</strong> Lorem</p>
          <p><strong>50</strong> Ipsum</p>
          <p><strong>25</strong> Dolor</p>
          <p><strong>10</strong> Sit</p>
          <p><strong>Endless</strong> Amet</p>
        </div>
        <div class="panel-footer">
          <h3>$49</h3>
          <h4>per month</h4>
          <button class="btn btn-lg">Sign Up</button>
        </div>
      </div>      
    </div>    
  </div>
</div>
-->
<!-- Container (Contact Section) -->


<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Belfast, UK</p>
      <p><span class="glyphicon glyphicon-phone"></span> +447527289466</p>
      <p><span class="glyphicon glyphicon-envelope"></span> craig.ledgerwood81@gmail.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <form method="post" action="/home/" novalidate>
        {% csrf_token %}
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comment" name="comment" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="googleMap" style="height:400px;width:100%;"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(54.5973, -5.9301);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBj3RSx2ZYG0hqc45yvRKjQdWqOBPpa9Eo&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<div class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Ledgey Logic</p>
</div>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }

    });

    $('.bg').scroll(function() {
      var x = $(this).scrollTop();
      $(this).css('background-position', '0% ' + parseInt(-x / 10) + 'px');
    });
  });
})
</script>
</div>
</body>

</html>
